<!DOCTYPE html>
<html lang="fr"  x-data="{ isDarkMode: false }" x-cloak>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <script src="https://kit.fontawesome.com/6d66900dda.js" crossorigin="anonymous"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="/assets/js/translation.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        {% endblock %}
    </head>
    <header :class="['header', isDarkMode ? 'dark' : 'light']">
        <h1 :style="isDarkMode ? 'color: #f2cbd4;' : 'color: black;'">Maëva.N</h1>
        <div x-data="{ scrollTo(section) { document.getElementById(section).scrollIntoView({ behavior: 'smooth' }); } }">
        <nav :class="['text', isDarkMode ? 'dark' : 'light']">
            <a href="{{ path('home') }}" >Accueil</a>
            <a a href="#" @click.prevent="scrollTo('about')">À propos</a>
            <a a href="#" @click.prevent="scrollTo('skills')" >Réalisation</a>
            <a href="{{ path('home') }}">Certification</a>
            <a href="{{ path('home') }}">Contact</a>
        </nav>
        </div>
        <form>
            <label for="language">Langue :</label>
            <select name="language" id="language" x-model="selectedLang" @change="translatePage()">
                <option value="FR">Français</option>
                <option value="EN">Anglais</option>
            </select>
        </form>

        <!-- Bouton pour le mode clair -->
        <i @click="isDarkMode = true"  x-show="!isDarkMode" class="fa-solid fa-moon" ></i> 
        
        
        <!-- Bouton pour le mode sombre -->
        <i @click="isDarkMode = false"  x-show="isDarkMode" class="fa-solid fa-sun" ></i> 
        
    </header>
    <body :style="isDarkMode ? 'background-color: #523a5f; color: white;': 'background-color: rgb(236, 215, 241); color: black;'" >
        {% block body %}{% endblock %}
    </body>
    <footer :class="['header', isDarkMode ? 'dark' : 'light']">
        <p> &copy; Maëva | Tous droits réservés</p>
    </footer>
</html>
